.service-container {
  background-color: var(--grayDark);
  padding: 2rem;
  color: var(--textLight);
  margin-top: 6rem;
}

.service-head-text {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--brandColor);
}

.service-img {
  max-width: 900px;
  margin: auto;
  border-radius: 0.8rem;
}

.service-wrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
}

@media screen and (max-width: 677px) {
  .service-wrapper {
    display: grid;
    grid-template-columns: 1fr;
  }

  .service-img img {
    max-width: 300px;
    margin: auto;
    border-radius: 0.8rem;
  }
  
}

