.service-container {
  background-color: var(--grayDark);
  padding: 2rem;
  color: var(--textLight);
  margin-top: 6rem;
}

.service-head-text {
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 2rem;
  margin-bottom: 0.8rem;
  color: var(--brandColor);
}

.service-img {
  width: 90vw;
  max-width: 900px;
  margin: auto;
  border-radius: 0.8rem;
}
