.featured-car-wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 1rem;
}

.featured-car-image-for-landing-page {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-radius: 0.5rem;
}



