
.headline-text {
  color: var(--textDark);
  text-align: center;
  font-family: "Poetsen One", sans-serif;
  font-size: 2.4rem;
  margin-top: 1.8rem;

.home-page-container {
  min-height: 100vh;
}

.home-page-loader {
  position: fixed;
  top: 50%;
  left: 50%;

}
}